<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>{% block title %}Vendas{% endblock %}</title>
	{% include 'stylesheets.html.twig' %}
	{% block stylesheets %}{% endblock %}
</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

	<button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
		<i class="fas fa-bars"></i>
	</button>

	<a class="navbar-brand mr-1" href="/" style="padding-left: 16px">Vendas</a>
</nav>
<div id="wrapper">

	<!-- Sidebar -->
	{% include 'menu.html.twig' %}

	<div id="content-wrapper">

		<div class="container-fluid">
			<div class="card">
				<div class="card-footer">
					<div class="pull-left">
						<!-- Breadcrumbs-->
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="{{ app.request.schemeAndHttpHost }}/">Dashboard</a>
							</li>
							{% block breadcrumb %}{% endblock %}
						</ol>
					</div>
					<div class="pull-right">
						{% block buttons %}{% endblock %}
					</div>
				</div>
			</div>
			<br>

			{% block body %}{% endblock %}
		</div>
		<!-- /.container-fluid -->

		<!-- Sticky Footer -->
		<footer class="sticky-footer">
			<div class="container my-auto">
				<div class="copyright text-center my-auto">
					<span>Copyright © Your Website 2018</span>
				</div>
			</div>
		</footer>

	</div>
	<!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>
{% include 'javascripts.html.twig' %}
{% block javascritps %}{% endblock %}
</body>

</html>

